#connection-status {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 1000;
    border: none;
    box-shadow: none;
}

.success {
    color: #3c763d;
}

.error {
    color: #a94442
}